/* set media query for large screens */
@media only screen and (min-width: 992px) {

/* css for only the largest view screens */

/* gallery grid layout for large views */

#gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* change gallery hover setting to comply with assignment */

#gallery img:hover {
    box-shadow: none;
}
#gallery figure:hover {
    box-shadow: 0 0 4em #373334;
}
}