/* set media query for large screens */
@media only screen and (min-width: 850px) {

/* css for only the largest view screens */

/* gallery grid layout for large views */

#gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* change gallery hover setting to comply with assignment */

#gallery img:hover {
    box-shadow: none;
}
#gallery figure:hover {
    box-shadow: 0 0 4em #373334;
}

/* change fish haven view to normal for large display */

#fishHaven nav #primaryNav {
    display: flex;
    flex-flow: row wrap;
    padding-left: 1em;
    padding-right: 1em;   
}

/*navigation menu styling */
#fishHaven #navContainer ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
/* position menu items to the left and add border right to menu items color #f3f5e9 */
 #fishHaven #navContainer li {
    float: left;
    border-right: 1px solid #f3f5e9;
}
/* style so there is no border line on the far right */
#fishHaven #navContainer li:last-child {
    border-right: none;
}
#fishHaven #navContainer li a {
    display: block;
    color: #73c058;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
}