html {
  font-family: 'Ubuntu', sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(200,200,200);
  font-size: 0.9rem;
  box-shadow: 5px 5px 10px #628ca6;
}

/* style head of table */

thead {
    color: black;
    background-color: #7fb9c2;
    font-size: 1.4rem;
    font-weight: bold;
}
/* style header elements */

tbody th {
    background-color: #628ca6;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 5px 8px;
}

td {
  text-align: center;
}

/* odd and even row coloring */

tr:nth-child(even) {
    background-color: #e7f0ed;
  }
  
  tr:nth-child(odd) {
    background-color: #e7ffed;
  }

/* style tfoot elements */

table tfoot {
    background-color: #7fb9c2;
    font-size: .6rem;
}

/* style tfoot elements */

.goalExceeded {
    background-color: #628ca6;
    color: white;
}