/* CIT 230 Town Pages CSS */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body {
	background-color: #73c058;
}

header {
	margin: 10px auto;
	background-color: #c2ca86;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;
    margin: 10px;
    font-family: 'Roboto Slab', serif;
}

.moto { 
    font-family: 'Lato', sans-serif;
    font-size: .7em;
    text-decoration-color: antiquewhite; 
}

nav {
    font-family: 'Lato', sans-serif;
    vertical-align: middle;
    margin: 5px;
}