/* set media query for large screens */
@media only screen and (min-width: 992px) {
    max-width: 1199px;
}
/*navigation menu styling */
nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
/* position menu items to the left and add border right to menu items color #f3f5e9 */
li {
    float: left;
    border-right: 1px solid #f3f5e9;
}
/* style so there is no border line on the far right */
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: #73c058;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* change the link text color to #231f20 on hover */
li a:hover {
    color: #231f20;
}
/* active page background color on menu */
.selected {
    background-color: #f3f5e9;
}


