/* set media query for large screens */
@media only screen and (min-width: 992px) {
    max-width: 1200px;
}

/*current temperature style */

.currenttemp {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    background-color: #73c058;
    opacity: 0.4;
    box-shadow: 0 0 30px #777;
    padding: 1em .5em;
    color: white;
    text-shadow: 1px 1px 2px #777;
}

.currenttemp h5 {
    font-size: .9em;
}

.currenttemp div {
    font-size: 4em;
}

.currenttemp p {
    font-size: .8em;
}
/*navigation menu styling */
nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
/* position menu items to the left and add border right to menu items color #f3f5e9 */
li {
    float: left;
    border-right: 1px solid #f3f5e9;
}
/* style so there is no border line on the far right */
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: #73c058;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* change the link text color to #231f20 on hover */
li a:hover {
    color: #231f20;
}
/* active page background color on menu */
.selected {
    background-color: #f3f5e9;
}
/* styling the 5-day forecast */
aside h3 {
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 4px #777;
    padding: 10px;
}
/* Put a single line around the table */
table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
table, th, td {
    color: #f3f5e9;
    border: 1px solid #f3f5e9;
    background-color: #231f20;
}
td, th{
    text-align: center;
    padding: 5px;
}

