/* set media query for large screens */
@media only screen and (min-width: 850px) {

/* css for only the largest view screens */

/* get rid of header bottom padding to make nav bar look right */

#headerContainer {
    padding: 2% 2% 0 2%;
}

/* change nav bar styling */

.navContainer #primaryNav {
    background-color: #87768e;
    padding: 0;
}

.navContainer a {
    color: white;  
}

.navContainer li {
    border-top: none;
}

nav .selected {
    color: #333736;
    text-shadow: 1px 1px 2px #333736;
}

nav ul li a:hover {
    color: #768e8b;
    background-color: white;
}

/* hide vertical hero image and show horizontal hero image */

.heroTabletView {
    display: none;
}

.hero {
    display: block;
    width: 100%;
    margin-bottom: 2%;
}

/* adjust call to action position */

span#callToAction {
    top: 60%;
}

/* grid layout for main containers */

#containerBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    margin-bottom: 4%;
}

.mainContainer {
    width: 100%;
    margin: 3% 0;
}

/* layout for temple page */

#templeContainer {
    float: none;
    width: 100%;
}

#temples {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#temples article {
    margin: 2% 2% 6% 2%;
    padding-bottom: 2%;
}

#temples article img {
    margin: 0 0 2% 0;
}

/* reservation page styling */

form {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0 auto;
}

/* contact info page */

#contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    grid-gap: .2rem;
}

#contactContainer .map {
    justify-self: end;
    margin: 0;
    padding-left: 8%;
}

.contactInfo {
    justify-items: start;
    margin: 0 2% 0 0; 
}

#contactPage {
    width: 80%;
    margin: 2% auto;
}

/* services page */

#servicesContainer, #longTermContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4%;
}

#guests {
    margin-left: 5%;
    margin-right: 2%;
}

#specialized {
    border-left: 2px solid #87768e;
}

#specialized {
    margin-left: 0;
}

/* long term stay styling */

#longTermContainer {
    grid-template-columns: 35% 65%;
}

#longTermContainer h3 {
    text-align: left;
}

#longTermContainer form {
    display: block;
    width: 85%;
    margin: 0 auto;
}

/* change fish haven view to normal for large display */

#fishHaven .navContainer {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    display: inline-block;
}

#fishHaven main {
    grid-column-start: 1;
    grid-column-end: 6;
}
}