/* set media query for large screens */
@media only screen and (min-width: 850px) {

/* css for only the largest view screens */

/* get rid of header bottom padding to make nav bar look right */

#headerContainer {
    padding: 2% 2% 0 2%;
}

/* change nav bar styling */

.navContainer #primaryNav {
    background-color: #87768e;
    padding: 0;
}

.navContainer a {
    color: white;  
}

.navContainer li {
    border-top: none;
}

nav .selected {
    color: #333736;
    text-shadow: 1px 1px 2px #333736;
}

nav ul li a:hover {
    color: #e1b3a5;
}

/* hide vertical hero image and show horizontal hero image */

.heroTabletView {
    display: none;
}

.hero {
    display: block;
    width: 100%;
    margin-bottom: 2%;
}

/* grid layout for main containers */

#containerBox {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
    margin-bottom: 4%;
}

.mainContainer {
    width: 100%;
    margin: 3% 0;
}

/* change gallery hover setting to comply with assignment */

#gallery img:hover {
    box-shadow: none;
}
#gallery figure:hover {
    box-shadow: 0 0 4em #373334;
}

/* change fish haven view to normal for large display */

#fishHaven .navContainer {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    display: inline-block;
}

#fishHaven main {
    grid-column-start: 1;
    grid-column-end: 6;
}
}