/* set media query for tablet view.  */
@media only screen and (min-width: 501px) {

/* header flex settings */

#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#headerContainer img {
    margin-right: 1em;
}
   
/* hide hamburger icon */

nav button { 
    display: none;
}

/* right justify nav menu */

.navContainer {
    width: 100%;
} 

/* change flex direction from column to row for larger views and style nav */

.navContainer #primaryNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    background-color: white;  
}

/* show menu in large view */

nav ul.hide {
    display: block;
}

nav li a {
    list-style-type: none;
    display: block;
    color: #87768e;
    text-align: right;
    padding: 14px 0;
    text-decoration: none;
}

/* active page background color on menu */
.selected {
    background-color: #e1b3a5;
}

/* hide horizontal hero image and display vertical one */

.hero {
    display: none;
}

.heroTabletView {
    display: block;
    float: left;
    width: 20%;
}

.mainContainer {
    float: right;
    width: 70%;
}

/* styling the 5-day forecast */
aside h3 {
    text-align: center;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 2px 2px 4px #ee3229;
    padding: 10px;
}
/* format the table with no lines, black background, rounded corners */

.fiveday {
    display: block;
}
#forecastTable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5em;
    box-shadow: 2px 2px 30px #f3f5e9;
    padding-top: .5em;
    background-color: #231f20;
}
#forecastTable, th, td {
    color: #f3f5e9;
    text-align: center;
    padding: .5em .5em 0 .5em;
}

/* style the article */

#townPageArticle div {
    float: right;
    width: 55%;
}

#townPageArticle img {
    float: left;
    width: 38%;
}

#townPageArticle {
    padding: 1rem 2rem 1rem 0rem;
}

/* gallery grid for medium view */

#gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    padding-bottom: 6%;
    margin-bottom: 4%;
}

/* footer style for medium and large views */

footer #displayDate {
    float: right;
    width: 25%;
    text-align: right;
    margin-right:1%;
}

footer p {
    float: left;
    width: 70%;
    margin-left: 1%;
}

/* form larger views formatting */

form label.sbs {
    padding: .4rem 0;
}

/* home page town summaries format */

#homeTowns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
}

#trendingContact {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

/* work on Fish Haven different middle view */

#fishHaven {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

#fishHaven .navContainer {
    display: flex;
    flex-direction: column;
}

#fishHaven .navContainer ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#fishHaven .navContainer li {
    border: none;
    vertical-align: middle;
    font-size: 1.2em;
    padding-left: 1em;
}

#fishHaven .navContainer a {
    padding: .8rem 2%;
    text-align: left;
    text-decoration: none;
    display: block;
}

/*current temperature style */

#currenttemp {
    display: block;
    border-radius: .3rem;
}

#currenttemp p {
    font-size: .7em;
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 2px #777;
    text-align: center;
    width: 100%;
}

#currenttemp div {
    float: left;
    width: 50%;
    font-size: 1em;
    text-align: left;
    text-shadow: 1px 1px 2px #777;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 4%;
}

#currenttemp img {
    float: right;
    width: 34%;
    padding-top: 2%;
}
}
